.login {
    min-height: 50vh;

    background-color: rgba(245, 245, 245, 1);
    color: rgba(0,0,0,1);
    opacity: .7;
    font-weight: 630;
    font-size:17px;
}
.bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}
.logo-image {
    width:240px;
    
}

.button {
  background: transparent;
  border: none;
  color: black;
  padding: 10px;
  margin-left: 1050px;
  margin-top: -400px;
  text-align: center;
  font-size: 16px;
}

p {
  outline-color:grey;
}

p.solid {
  border-radius: 25px;
  background-color: grey;
  width: 800px;
  height: 100px;
  left: 150px;
  bottom:85px;
  outline-style: solid;
  outline-width: thin;
  position: relative;
  text-align: center;
}

p.solid2 {
  border-radius: 25px;
  background-color: grey;
  width: 445px;
  height: 100px;
  left: 20px;
  bottom: 100px;
  outline-style: solid;
  outline-width: thin;
  position: relative;
  text-align: center;
  font-size: 14px;
}

p.solid3 {
  border-radius: 25px;
  background-color: grey;
  width: 450px;
  height: 100px;
  left: 235px;
  bottom: 100px;
  outline-style: solid;
  outline-width: thin;
  position: relative;
  text-align: center;
  font-size: 14px;
}

p.solid4 {
  border-radius: 25px;
  background-color: grey;
  width: 800px;
  height: 100px;
  left: 150px;
  bottom:285px;
  outline-style: solid;
  outline-width: thin;
  position: relative;
  text-align: center;
}

