.login {
    min-height: 50vh;

    background-color: rgba(245, 245, 245, 1);
    color: rgba(0,0,0,1);
    opacity: .7;
    font-weight: 630;
    font-size:17px;


  }
.chat{
    min-height: 60vh;
    background-color: rgba(245, 245, 245, 1);
    color: rgba(0,0,0,1);
    font-weight: 630;
    opacity: .8;
    font-size:17px;


}
.inputP{
    color:black; font-weight:500; border-radius:12px;border: 2px solid rgba(0,99,174,255)
}
input::placeholder{
    opacity: 1;
    font-weight: 600;
    font-style: bold;
}
.bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40');
    background-size: cover;
    background-position: center;
    min-height: 100vh;

}
.logo-image {
    width:240px;
    
}
  
.login-heading {
font-weight: 500;
}

.btn-login {
font-size: 0.9rem;
letter-spacing: 0.05rem;
padding: 0.75rem 1rem;
}
  
body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  
    min-height: 100vh;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 550px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }